body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

*{
    box-sizing:border-box;
}

.container{
    width:100%;
    max-width:1280px;
    margin:auto;
    padding:20px;
}

.hero-bg {
  background-image: url("./images/bg-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#btn:hover{
    
}